<div id="page-body" class="page-body">
  <!-- row -->
  <div class="row main-row justify-content-center">
    <!-- Content area
    ==================================================== -->
    <div id="primary" class="content-area col-lg-12">
      <!-- Main -->
      <main id="main" class="content-area-container site-main">


        <!-- Section -->
        <div class="main-section">
          <!-- container -->
          <div class="container gx-4">
            <!-- row -->
            <div class="row gx-36">


              <!-- col-lg-8 -->
              <div class="col-lg-2"><%= link_to "戻る", flavors_path, class: "btn btn-md btn-round btn-success ml-18 mr-18 mb-36 text-white" %></div>
              <div class="col-lg-8">

                <!-- Section title -->
                <div class="section-title text-center">
                  <!-- Section title container -->
                  <div class="section-title-container">

                    <!-- Section title body -->
                    <div class="section-title-body">

                      <!-- Section title heading -->
                      <div class="section-title-heading">
                        <h2>New Flavor</h2>
                        <h2>新規フレーバー</h2>
                      </div><!-- /End Section title heading -->

                    </div><!--/End Section title body -->

                  </div><!-- /End Section title container -->
                </div><!-- /End Section title -->

                <!-- GAP -->
                <div class="gap gap-36"></div>

              </div><!-- /End col-lg-8 -->


              <!-- col-lg-8 -->
              <div class="col-lg-8 offset-lg-2">
                <!-- Contact form -->
                <div class="form-block form-block-validation form-block-contact">
                  <!-- Form container -->
                  <div class="form-block-container">
                    <!-- Form -->
                    <%= form_with model: @flavor, url: flavors_path do |f| %>
                      <%= render 'form', {f: f} %>
                      <div class="text-center mt-3 col-12">
                        <%= f.submit "登録", class: 'btn btn-success btn-block' %>
                      </div>
                    <% end %>
                    <!-- GAP -->
                    <div class="gap gap-36"></div>
                  </div><!-- /End Form container -->
                </div><!-- /End Contact form -->
              </div><!-- /End col-lg-8 -->


            </div><!-- /End row -->
          </div><!-- /End container -->
        </div><!-- /End Section -->


      </main><!-- /End Main -->
    </div><!-- /End Content area -->
  </div><!-- /End row -->
</div><!-- /End Page body -->