<div id="page-body" class="page-body">
  <!-- row -->
  <div class="row main-row justify-content-center">
    <!-- Content area
    ==================================================== -->
    <div id="primary" class="content-area col-lg-12">
      <!-- Main -->
      <main id="main" class="content-area-container site-main">
        <!-- Section -->
        <div class="main-section">
            <!-- container -->
          <div class="container gx-4">
            <!-- row -->
            <div class="row flavor-show-block">

              <!-- col-lg-4 -->
              <div class="col-lg-12">
                <!-- Testimonials block -->
                <div class="flavor-show-container">
                  <!-- Block header -->
                  <div class="flavor-show-header">
                    <div class="image">
                      <%= image_tag @flavor.flavor_image_url %>
                    </div>
                  </div><!-- /End Block header -->

                  <!-- Block body -->
                  <div class="flavor-show-body">

                    <!-- Block heading -->
                    <div class="flavor-show-heading">
                      <h6 class="flavor-name">
                        <%= @flavor.name %>
                      </h6>
                    </div><!-- /End Block heading -->
                    <div class="flavor-hints-block">
                      <div class="flavor-hints">
                        <% @flavor.gather_hints.each do |hint| %>
                          <span># <%= hint.content %></span>
                        <% end %>
                      </div>
                    </div>
                  </div><!--/End Block body -->

                </div><!-- /End Block container -->
              </div><!-- /End col-lg-4 -->
              <%= render 'combinations/list', { combinations: @combinations }%>
            </div><!-- /End row -->
          </div><!-- /End container -->
        </div><!-- /End Section -->

      </main><!-- /End Main -->
    </div><!-- /End Content area -->
  </div><!-- /End row -->
</div><!-- /End Page body -->
