<%= link_to unfixed_shop_stocks_path(id: Stock.find_by(shop_id: shop.id, flavor_id: flavor.id).id, shop_id: shop.id, flavor_id: flavor.id), class:"float-left", method: :delete, remote: true do %>
	<span>確定</span>
<% end %>