<footer id="colophon" class="footer-section site-footer">
  <!-- footer container -->
  <div class="footer-section-container">
    <!-- footer top -->
    <div class="footer-section-top">
      <!-- Section -->
      <div class="main-section">
        <!-- container -->
        <div class="container gx-4">
          <!-- row -->
          <div class="row gx-36">
            <!-- col-lg-6 -->
            <div class="col-lg-6">
              <!-- Text -->
              <div class="widget widget_text light-color">
                <h6 class="widget-title font-weight-500">
                  <span>About SeeSha</span>
                </h6>
                <div class="textwidget">
                  <p>hogehoge.</p>
                </div>
              </div>
              <!-- /End Text -->
            </div>
            <!-- /End col-lg-6 -->
            <!-- col-lg-3 -->
            <div class="col-lg-3">
              <!-- Navigation Menu -->
              <div class="widget widget_nav_menu light-color">
                <h6 class="widget-title font-weight-500">
                  <span>Company</span>
                </h6>
                <ul>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="#">Shop</a></li>
                  <li><a href="#">Contact us</a></li>
                </ul>
              </div>
              <!-- /End Navigation Menu -->
            </div>
            <!-- /End col-lg-3 -->
            <!-- col-lg-3 -->
            <div class="col-lg-3">
              <!-- Navigation Menu -->
              <div class="widget widget_nav_menu light-color">
                <h6 class="widget-title font-weight-500">
                  <span>Company</span>
                </h6>
                <ul>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="#">Shop</a></li>
                  <li><a href="#">Contact us</a></li>
                </ul>
              </div>
              <!-- /End Navigation Menu -->
            </div>
            <!-- /End col-lg-3 -->
          </div>
          <!-- /End row -->
        </div>
        <!-- /End container -->
      </div>
      <!-- /End Section -->
    </div>
    <!-- /End footer top -->
    <!-- footer copyright -->
    <div class="footer-section-copyright">
      <!-- Section -->
      <div class="main-section">
        <!-- container -->
        <div class="container gx-4">
          <!-- row -->
          <div class="row gx-36">
            <!-- col-lg-12 -->
            <div class="col-lg-12">
              <!-- Content -->
              <div class="footer-section-copyright-content light-color">
                <p>
                  &copy; <span class="current-year">2021</span> designed &amp;
                  developed by <a href="#" title="Graphicfort">Graphicfort</a>,
                  all rights reserved.
                </p>
              </div>
              <!-- /End Content -->
            </div>
            <!-- /End col-lg-12 -->
          </div>
          <!-- /End row -->
        </div>
        <!-- /End container -->
      </div>
      <!-- /End Section -->
    </div>
    <!-- /End footer copyright -->
  </div>
  <!-- /End footer container -->
</footer>
<!-- /End footer -->
