<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12 text-center">
            <h1>New Combination</h1>
            <h1>新規コンビネーション</h1>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
			<div class="row">
				<div class="col align-self-center">
					<div class="card card-primary">
						<div class="card-body row">

							<!-- Form -->
              <%= render 'form' %>

						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>
<%= javascript_pack_tag 'combination', media: 'all', 'data-turbolinks-track': 'reload' %>