// Place all the styles related to the admin::flavors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.admin-flavor-image img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}
