// Place all the styles related to the admin::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.avatar-image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
