<section class="mt-5 mb-5">
	<div class="row">
		<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
			<div class="card bg-white rt-static-wrap">
				<div class="card-body">
					<h1 class="page-title text-center">プライバシーポリシー</h1>
					<div class="static-text">
						<h3>はじめに</h3>
						<p>SeeSHA（以下，「作成者」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>
					</div>
					<br>
					<div class="static-text">
						<h3>第1条（個人情報）</h3>
						<p>「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，メールアドレス等を指します。</p>
					</div>
					<br>
					<div class="static-text">
						<h3>第2条（個人情報の収集方法）</h3>
						<p>作成者は，ユーザーが利用登録をする際に氏名，メールアドレスなどの個人情報をお尋ねすることがあります。また，ユーザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や決済に関する情報を,作成者の提携先（情報提供元，広告主，広告配信先などを含みます。以下，｢提携先｣といいます。）などから収集することがあります。</p>
					</div>
					<br>
					<div class="static-text">
						<h3>第3条（個人情報を収集・利用する目的）</h3>
						<p>作成者が個人情報を収集・利用する目的は，以下のとおりです。</p>
						<br>
						<ol>
							<li>作成者サービスの提供・運営のため</li>
							<li>ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）</li>
							<li>メンテナンス，重要なお知らせなど必要に応じたご連絡のため</li>
							<li>利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため</li>
							<li>ユーザーにご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため</li>
							<li>上記の利用目的に付随する目的</li>
						</ol>
					</div>
					<br>
					<div class="static-text">
						<h3>第4条（利用目的の変更）</h3>
						<ol>
							<li>作成者は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。</li>
							<li>利用目的の変更を行った場合には，変更後の目的について，作成者所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。</li>
						</ol>
					</div>
					<br>
					<div class="static-text">
						<h3>第5条（個人情報の第三者提供）</h3>
						<p>作成者は，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。</p>
					</div>
					<br>
					<div class="static-text">
						<h3>第6条（個人情報の開示）</h3>
						<p>作成者は、履歴情報および特性情報などの個人情報以外の情報については，原則として開示いたしません。</p>
					</div>
					<br>
					<div class="static-text">
						<h3>第7条（個人情報の利用停止等）</h3>
						<p>作成者は，本人から，個人情報が，利用目的の範囲を超えて取り扱われているという理由，または不正の手段により取得されたものであるという理由により，その利用の停止または消去（以下，「利用停止等」といいます。）を求められた場合には，遅滞なく必要な調査を行います。</p>
					</div>
					<br>
					<div class="static-text">
						<h3>第8条（プライバシーポリシーの変更）</h3>
						<ol>
							<li>本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。</li>
							<li>作成者が別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。</li>
						</ol>
					</div>
					<br>
					<div class="static-text">
						<p>以上</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
