<div id="page-body" class="page-body">
  <!-- row -->
  <div class="row main-row justify-content-center">
    <!-- Content area
    ==================================================== -->
    <div id="primary" class="content-area col-lg-12">
      <!-- Main -->
      <main id="main" class="content-area-container site-main">


        <!-- Section -->
        <div class="main-section pb-0">
					<!-- container -->
					<div class="container gx-4">
						<!-- row -->
						<div class="row gx-36">


							<!-- col-lg-8 -->
							<div class="col-lg-8 offset-lg-2">

								<!-- Section title -->
								<div class="section-title text-center">
									<!-- Section title container -->
									<div class="section-title-container">

										<!-- Section title body -->
										<div class="section-title-body">

											<!-- Section title heading -->
											<div class="section-title-heading">
												<h2>フレーバー診断</h2>
											</div><!-- /End Section title heading -->

											<!-- Block content -->
											<div class="section-title-content">
												<p>シーシャのフレーバーの組み合わせは無限大、自分に合うフレーバーを探してみよう</p>
											</div><!-- /End Block content -->

										</div><!--/End Section title body -->

									</div><!-- /End Section title container -->
								</div><!-- /End Section title -->


							</div><!-- /End col-lg-8 -->


						</div><!-- /End row -->
					</div><!-- /End container -->
        </div><!-- /End Section -->


        <!-- Section -->
        <div class="main-section">
					<!-- container -->
					<div class="container gx-4">
						<!-- row -->
						<div class="row gx-36">


							<!-- col-lg-6 -->
							<div class="col-lg-6">

								<!-- Text block -->
								<div class="main-block text-block">
									<!-- Block container -->
									<div class="main-block-container text-block-container">

										<!-- Block body -->
										<div class="main-block-body text-block-body">

											<!-- Block heading -->
											<div class="main-block-heading text-block-heading">
                        <% if @easy_searchs.exists? %>
                          <%= link_to search_path(@easy_search_id) do %>
                            <h4>とりあえず診断</h4>
                          <% end %>
                        <% else %>
                          <%= link_to new_combination_path do%>
                            <h4>新規フレーバー登録</h4>
                          <% end %>
                        <% end %>
											</div><!-- /End Block heading -->

											<!-- Block content -->
											<div class="main-block-content text-block-content">
												<p>シンプルに診断、なんでも良いけど迷っている人におすすめ！</p>
											</div><!-- /End Block content -->

										</div><!--/End Block body -->

									</div><!-- /End Block container -->
								</div><!-- /End Text block -->

							</div>

							<!-- col-lg-6 -->
							<div class="col-lg-6">

								<!-- Text block -->
								<div class="main-block text-block">
									<!-- Block container -->
									<div class="main-block-container text-block-container">

										<!-- Block body -->
										<div class="main-block-body text-block-body">

											<!-- Block heading -->
											<div class="main-block-heading text-block-heading">
												<%= link_to searchs_path do %>
                          <h4>おすすめ診断</h4>
                        <% end %>
											</div><!-- /End Block heading -->

											<!-- Block content -->
											<div class="main-block-content text-block-content">
												<p>好みや評価を考慮して診断、自分にピッタリなモノを探している人におすすめ！</p>
											</div><!-- /End Block content -->

										</div><!--/End Block body -->

									</div><!-- /End Block container -->
								</div><!-- /End Text block -->

							</div>



						</div><!-- /End row -->
					</div><!-- /End container -->
        </div><!-- /End Section -->


        <!-- Section -->
        <div class="main-section pt-0">

            <!-- Media (Half) -->
            <div class="section-media section-media-half section-media-half-left" style="background-image: url(assets/images/index/construction/009.jpg);">
                <img src="assets/images/index/construction/009.jpg" alt="Image" class="section-media-half-img" />
            </div><!-- /End Media (Half) -->

            <!-- container -->
            <div class="container gx-4">
                <!-- row -->
                <div class="row gx-36">


                    <!-- col-lg-12 -->
                    <div class="col-lg-12">

                        <!-- GAP -->
                        <div class="gap gap-72 d-none d-lg-block"></div>
                        <div class="gap gap-36 d-none d-xxl-block"></div>

                        <!-- Section title -->
                        <div class="section-title">
                            <!-- Section title container -->
                            <div class="section-title-container">

                                <!-- Section title body -->
                                <div class="section-title-body">

                                    <!-- Section title heading -->
                                    <div class="section-title-heading">
                                        <h6 class="font-weight-500 accent-color">About Bason</h6>
                                        <h3>We are more than builders</h3>
                                    </div><!-- /End Section title heading -->

                                </div><!--/End Section title body -->

                            </div><!-- /End Section title container -->
                        </div><!-- /End Section title -->

                        <!-- Text block -->
                        <div class="main-block text-block">
                            <!-- Block container -->
                            <div class="main-block-container text-block-container">

                                <!-- Block body -->
                                <div class="main-block-body text-block-body">

                                    <!-- Block content -->
                                    <div class="main-block-content text-block-content">

                                        <p>Fusce volutpat dolor pellentesque, consequat nibh nec, ultrices urna. Proin id eros scelerisque, posuere dolor laoreet, pretium ligula. Donec auctor eget tellus quis imperdiet. Morbi aliquet et orci in ultricies. Duis auctor diam eu massa maximus ultrices.</p>

                                        <p>Integer quis neque et tortor fermentum ultricies. Sed laoreet ipsum neque, id dignissim dolor tempus ut. Nulla tincidunt semper quam. Ut a ante sit amet felis vehicula mollis. Nullam at fermentum ipsum, ac vehicula urna id eros scelerisque, posuere dolor laoreet.</p>

                                    </div><!-- /End Block content -->

                                </div><!--/End Block body -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Text block -->

                    </div><!-- /End col-lg-12 -->


                </div><!-- /End row -->
            </div><!-- /End container -->

        </div><!-- /End Section -->


        <!-- Section -->
        <div class="main-section pt-0">

            <!-- Media (Half) -->
            <div class="section-media section-media-half section-media-half-right" style="background-image: url(assets/images/index/construction/010.jpg);">
                <img src="assets/images/index/construction/010.jpg" alt="Image" class="section-media-half-img" />
            </div><!-- /End Media (Half) -->

            <!-- container -->
            <div class="container gx-4">
                <!-- row -->
                <div class="row gx-36">


                    <!-- col-lg-12 -->
                    <div class="col-lg-12">

                        <!-- GAP -->
                        <div class="gap gap-72 d-none d-lg-block"></div>
                        <div class="gap gap-36 d-none d-xxl-block"></div>

                        <!-- Section title -->
                        <div class="section-title">
                            <!-- Section title container -->
                            <div class="section-title-container">

                                <!-- Section title body -->
                                <div class="section-title-body">

                                    <!-- Section title heading -->
                                    <div class="section-title-heading">
                                        <h6 class="font-weight-500 accent-color">Our Benefits</h6>
                                        <h3>Why choose us?</h3>
                                    </div><!-- /End Section title heading -->

                                </div><!--/End Section title body -->

                            </div><!-- /End Section title container -->
                        </div><!-- /End Section title -->

                        <!-- Text block -->
                        <div class="main-block text-block">
                            <!-- Block container -->
                            <div class="main-block-container text-block-container">

                                <!-- Block body -->
                                <div class="main-block-body text-block-body">

                                    <!-- Block content -->
                                    <div class="main-block-content text-block-content">

                                        <ul class="icon-list">
                                            <li><i class="fas fa-check heading-color"></i>Donec pulvinar quam dolor.</li>
                                            <li><i class="fas fa-check heading-color"></i>Phasellus vitae turpis vel nisi pharetra.</li>
                                            <li><i class="fas fa-check heading-color"></i>Nunc ullamcorper commodo facilisis.</li>
                                            <li><i class="fas fa-check heading-color"></i>Donec dapibus sapien elit semper.</li>
                                            <li><i class="fas fa-check heading-color"></i>Sed ac orci nulla.</li>
                                            <li><i class="fas fa-check heading-color"></i>Sed finibus sapien vel rhoncus.</li>
                                            <li><i class="fas fa-check heading-color"></i>Aliquam at nisl ac magna tempus.</li>
                                            <li><i class="fas fa-check heading-color"></i>Vivamus ornare tortor eu leo varius.</li>
                                        </ul>

                                    </div><!-- /End Block content -->

                                </div><!--/End Block body -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Text block -->

                    </div><!-- /End col-lg-12 -->


                </div><!-- /End row -->
            </div><!-- /End container -->

        </div><!-- /End Section -->


        <!-- Section -->
        <div class="main-section dark-1-color-bg">
            <!-- container -->
            <div class="container gx-4">
                <!-- row -->
                <div class="row gx-36">


                    <!-- col-lg-3 -->
                    <div class="col-lg-3 col-md-3 col-sm-6">

                        <!-- Counter -->
                        <div class="main-block counter-block text-center light-color">
                            <!-- Block container -->
                            <div class="main-block-container counter-block-container">

                                <!-- Block body -->
                                <div class="main-block-body counter-block-body">

                                    <!-- Heading -->
                                    <div class="main-block-heading counter-block-heading">
                                        <h5 class="h2 accent-color">
                                            <span
                                                data-from="0"
                                                data-to="900"
                                                data-speed="1000"
                                                data-refresh-interval="50">
                                                900
                                            </span>
                                        </h5>
                                    </div><!-- /End Heading -->

                                    <!-- Block content -->
                                    <div class="main-block-content counter-block-content secondary-font-family">
                                        <p><i class="fas fa-gem"></i> Projects</p>
                                    </div><!-- /End Block content -->

                                </div><!--/End Body -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Counter -->

                        <!-- GAP -->
                        <div class="gap gap-36 d-none d-sm-block d-md-none"></div>

                    </div><!-- /End col-lg-3 -->


                    <!-- col-lg-3 -->
                    <div class="col-lg-3 col-md-3 col-sm-6">

                        <!-- Counter -->
                        <div class="main-block counter-block text-center light-color">
                            <!-- Block container -->
                            <div class="main-block-container counter-block-container">

                                <!-- Block body -->
                                <div class="main-block-body counter-block-body">

                                    <!-- Heading -->
                                    <div class="main-block-heading counter-block-heading">
                                        <h5 class="h2 accent-color">
                                            <span
                                                data-from="0"
                                                data-to="450"
                                                data-speed="1000"
                                                data-refresh-interval="50">
                                                450
                                            </span>
                                        </h5>
                                    </div><!-- /End Heading -->

                                    <!-- Block content -->
                                    <div class="main-block-content counter-block-content secondary-font-family">
                                        <p><i class="fas fa-thumbs-up"></i> Customers</p>
                                    </div><!-- /End Block content -->

                                </div><!--/End Body -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Counter -->

                        <!-- GAP -->
                        <div class="gap gap-36 d-none d-sm-block d-md-none"></div>

                    </div><!-- /End col-lg-3 -->


                    <!-- col-lg-3 -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <!-- Counter -->
                        <div class="main-block counter-block text-center light-color">
                            <!-- Block container -->
                            <div class="main-block-container counter-block-container">

                                <!-- Block body -->
                                <div class="main-block-body counter-block-body">

                                    <!-- Heading -->
                                    <div class="main-block-heading counter-block-heading">
                                        <h5 class="h2 accent-color">
                                            <span
                                                data-from="0"
                                                data-to="800"
                                                data-speed="1000"
                                                data-refresh-interval="50">
                                                800
                                            </span>
                                        </h5>
                                    </div><!-- /End Heading -->

                                    <!-- Block content -->
                                    <div class="main-block-content counter-block-content secondary-font-family">
                                        <p><i class="fas fa-trophy"></i> Awards won</p>
                                    </div><!-- /End Block content -->

                                </div><!--/End Body -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Counter -->
                    </div><!-- /End col-lg-3 -->


                    <!-- col-lg-3 -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <!-- Counter -->
                        <div class="main-block counter-block text-center light-color">
                            <!-- Block container -->
                            <div class="main-block-container counter-block-container">

                                <!-- Block body -->
                                <div class="main-block-body counter-block-body">

                                    <!-- Heading -->
                                    <div class="main-block-heading counter-block-heading">
                                        <h5 class="h2 accent-color">
                                            <span
                                                data-from="0"
                                                data-to="17583"
                                                data-speed="1000"
                                                data-refresh-interval="50">
                                                17583
                                            </span>
                                        </h5>
                                    </div><!-- /End Heading -->

                                    <!-- Block content -->
                                    <div class="main-block-content counter-block-content secondary-font-family">
                                        <p><i class="fas fa-code"></i> Lines of code</p>
                                    </div><!-- /End Block content -->

                                </div><!--/End Body -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Counter -->
                    </div><!-- /End col-lg-3 -->


                </div><!-- /End row -->
            </div><!-- /End container -->
        </div><!-- /End Section -->


        <!-- Section -->
        <div class="main-section">
            <!-- container -->
            <div class="container gx-4">
                <!-- row -->
                <div class="row gx-36">


                    <!-- col-lg-8 -->
                    <div class="col-lg-8 offset-lg-2">

                        <!-- Section title -->
                        <div class="section-title text-center">
                            <!-- Section title container -->
                            <div class="section-title-container">

                                <!-- Section title body -->
                                <div class="section-title-body">

                                    <!-- Section title heading -->
                                    <div class="section-title-heading">
                                        <h6 class="font-weight-500 accent-color">What they say about us</h6>
                                        <h2>Don't take our word for it</h2>
                                    </div><!-- /End Section title heading -->

                                    <!-- Divider -->
                                    <div class="hr-divider hr-divider-layout-1 accent-color"></div>

                                    <!-- Block content -->
                                    <div class="section-title-content">
                                        <p>Praesent dignissim nibh quis ante dignissim, in posuere dui feugiat. duis elit dui, vestibulum nec ipsum id, finibus sollicitudin elit. cras et purus sagittis, volutpat est id.</p>
                                    </div><!-- /End Block content -->

                                </div><!--/End Section title body -->

                            </div><!-- /End Section title container -->
                        </div><!-- /End Section title -->

                        <!-- GAP -->
                        <div class="gap gap-36"></div>

                    </div><!-- /End col-lg-8 -->


                    <!-- col-lg-4 -->
                    <div class="col-lg-4">
                        <!-- Testimonials block -->
                        <div class="main-block boxed-block-2y testimonials-block white-color-bg grey-2-color-border text-center" data-animation="animate__zoomIn">
                            <!-- Block container -->
                            <div class="main-block-container testimonials-block-container">

                                <!-- Block body -->
                                <div class="main-block-body testimonials-block-body">

                                    <!-- Block heading -->
                                    <div class="main-block-heading testimonials-block-heading">
                                        <h5 class="name">Amorette</h5>
                                    </div><!-- /End Block heading -->

                                    <!-- Block content -->
                                    <div class="main-block-content testimonials-block-content">
                                        <p>Donec ex sapien, accumsan at nec, a erat. Pellentesque ac venenatis quam, vel lacinia erat. Phasellus in ante vehicula quis.</p>
                                    </div><!-- /End Block content -->

                                    <!-- Block footer -->
                                    <div class="main-block-footer testimonials-block-footer">
                                        <span class="rate rate-5 rate-2x"></span>
                                    </div><!-- /End Block footer -->

                                </div><!--/End Block body -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Testimonials block -->
                    </div><!-- /End col-lg-4 -->


                    <!-- col-lg-4 -->
                    <div class="col-lg-4">
                        <!-- Testimonials block -->
                        <div class="main-block boxed-block-2y testimonials-block white-color-bg grey-2-color-border text-center" data-animation="animate__zoomIn">
                            <!-- Block container -->
                            <div class="main-block-container testimonials-block-container">

                                <!-- Block body -->
                                <div class="main-block-body testimonials-block-body">

                                    <!-- Block heading -->
                                    <div class="main-block-heading testimonials-block-heading">
                                        <h5 class="name">Thomas</h5>
                                    </div><!-- /End Block heading -->

                                    <!-- Block content -->
                                    <div class="main-block-content testimonials-block-content">
                                        <p>Maecenas fringilla mattis quam vitae blandit. Duis fermentum, purus vitae semper sollicitudin, lorem risus nisl, arcu sed odio.</p>
                                    </div><!-- /End Block content -->

                                    <!-- Block footer -->
                                    <div class="main-block-footer testimonials-block-footer">
                                        <span class="rate rate-5 rate-2x"></span>
                                    </div><!-- /End Block footer -->

                                </div><!--/End Block body -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Testimonials block -->
                    </div><!-- /End col-lg-4 -->


                    <!-- col-lg-4 -->
                    <div class="col-lg-4">
                        <!-- Testimonials block -->
                        <div class="main-block boxed-block-2y testimonials-block white-color-bg grey-2-color-border text-center" data-animation="animate__zoomIn">
                            <!-- Block container -->
                            <div class="main-block-container testimonials-block-container">

                                <!-- Block body -->
                                <div class="main-block-body testimonials-block-body">

                                    <!-- Block heading -->
                                    <div class="main-block-heading testimonials-block-heading">
                                        <h5 class="name">Ann</h5>
                                    </div><!-- /End Block heading -->

                                    <!-- Block content -->
                                    <div class="main-block-content testimonials-block-content">
                                        <p>Proin vehicula tortor vitae erat dapibus venenatis. Duis eleifend justo a odio efficitur consectetur. Etiam quis tortor sagittis.</p>
                                    </div><!-- /End Block content -->

                                    <!-- Block footer -->
                                    <div class="main-block-footer testimonials-block-footer">
                                        <span class="rate rate-5 rate-2x"></span>
                                    </div><!-- /End Block footer -->

                                </div><!--/End Block body -->

                            </div><!-- /End Block container -->
                        </div><!-- /End Testimonials block -->
                    </div><!-- /End col-lg-4 -->


                </div><!-- /End row -->
            </div><!-- /End container -->
        </div><!-- /End Section -->


      </main><!-- /End Main -->
    </div><!-- /End Content area -->
  </div><!-- /End row -->
</div><!-- /End Page body -->