/* black ================================= */
.dark-1-color {
  color: #151515;
}

.dark-1-color-bg {
  background-color: #151515;
}

.dark-1-color-border {
  border-color: #151515;
}

.accent-color {
  color: #4672d8;
}