// Place all the styles related to the combinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.first_flavor_background img {
  object-fit: cover;
  width: 50%;
  height: 200px;
  filter: blur(5px);
  float: left;
}

.second_flavor_background img {
  object-fit: cover;
  width: 50%;
  height: 200px;
  filter: blur(5px);
}

.combination-title {
  display: block;
  overflow: hidden;
  margin-bottom: 36px;
}

.combination-title span {
  position: relative;
  border-color: inherit;
  display: inline-block;
}

.combination-title span::after,
.combination-title span::before {
  top: 50%;
  content: "";
  display: block;
  width: 1000000%;
  margin-top: -1px;
  position: absolute;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: inherit;
}

.combination-title span::after {
  left: 100%;
  margin-left: 18px;
}

.combination-title span::before {
  right: 100%;
  margin-right: 18px;
}
