.main-block-title {
  display: block;
  overflow: hidden;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.main-block-title span {
  position: relative;
  border-color: inherit;
  display: inline-block;
}

.main-block-title span::after,
.main-block-title span::before {
  top: 50%;
  content: "";
  display: block;
  width: 1000000%;
  margin-top: -1px;
  position: absolute;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: inherit;
}

.main-block-title span::after {
  left: 100%;
  margin-left: 18px;
}

.main-block-title span::before {
  right: 100%;
  margin-right: 18px;
}

.flavor-form {
  margin-top: 2rem;
}

.combination-sorts {
  a {
    padding: 0.2rem;
    text-decoration: none;
    border-radius: 0.25rem;
  }
}

/* commbinations/combination ================================= */

.recommend-combination-status {
  h6 {
    font-weight: bolder;
    font-size: xx-large;
  }
}

.recommend-combination-block {
  overflow: hidden;
  background-color: rgba(211, 211, 211, 0.2);
  padding-top: 1rem;

  .recommend-combination-header img {
    width: 120px;
    border-radius: 50%;
  }
}

.recommend-combinations {

  .image {
    display: block;
    text-align: right;
    margin-bottom: 1rem;
  }

  .sorry-image {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }

  .name {
    display: flex;
    text-align: left;
    align-items: center;
    font-weight: bolder;
    font-size: large;

    a {
      text-decoration: none;
    }
  }
}

.recommend-combination-body {
  clear: both;
  text-align: center;

  .recommend-combination-heading {
    p {
      font-weight: bold;
      font-size: larger;
    }
  }
}

.recommend-combination-content {
  display: flex;
  justify-content: center;

  .action {
    display: flex;
  }

  .bookmark {
    margin: 1rem;
    font-size: xx-large;

    a {
      color: orange;
    }
  }

  .show {
    margin: 1rem;
    font-size: xx-large;

    a {
      color: green;
    }
  }

  .edit {
    margin: 1rem;
    font-size: xx-large;

    a {
      color: brown
    }
  }

  .share {
    margin: 1rem;
    font-size: xx-large;
  }
}

.search-link-block {
  margin-top: 3rem;
}

.search-links a {
  color: white;
}

.search-link-item {
  margin-top: 3rem;
  text-align: center;
}

.search-link-item a {
  width: 300px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: whitesmoke;
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 1rem;
}

/* comment ================================= */
.comment-block-container {
  margin-bottom: 54px;
}

.comments-block-list {
  list-style: none;
}

.comment-block-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.comment-block-header {
  float: left;
  margin-right: 30px;
}

/* show ================================= */
.icon-block {
  background-color: rgba(211, 211, 211, 0.2);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* search ================================= */
.question-field {
  background-color: whitesmoke;
  border-color: black;
}

/* gacha ================================= */
.gacha-select-block {
  margin-top: 3rem;
  text-align: center;
}

.gacha-select-block a {
  padding: 1rem;
  font-size: large;
  font-weight: bolder;
  border-radius: 5%;
}

.gacha-image {
  height: auto;
  text-align: center;
}

/* animation ================================= */
.clouds {
  height: 180vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
}

.clouds span {
  position: absolute;
  height: 6rem;
  width: 6rem;
  background-image: url("cloud");
  background-size: cover;
  background-repeat: no-repeat;
  animation: animate 5s;
  animation-fill-mode: forwards;
}

@keyframes animate {
  to {
    transform: scale(60);
  }
}

.hidden {
  visibility: hidden;
}

.smoked {
  opacity: 0;
  transition: all 3s;
}

.after-clouds {
  height: 180vh;
}