.first_flavor_background img {
  object-fit: cover;
  width: 50%;
  height: 200px;
  filter: blur(5px);
  float: left;
}

.second_flavor_background img {
  object-fit: cover;
  width: 50%;
  height: 200px;
  filter: blur(5px);
}

.combination-title {
  display: block;
  overflow: hidden;
  margin-bottom: 36px;
}

.combination-title span {
  position: relative;
  border-color: inherit;
  display: inline-block;
}

.combination-title span::after,
.combination-title span::before {
  top: 50%;
  content: "";
  display: block;
  width: 1000000%;
  margin-top: -1px;
  position: absolute;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: inherit;
}

.combination-title span::after {
  left: 100%;
  margin-left: 18px;
}

.combination-title span::before {
  right: 100%;
  margin-right: 18px;
}

.combination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(211, 211, 211, 0.2);

  padding: 1rem;
  .combination-name p {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
}

.combination-block {
  margin-bottom: 1rem;
}

/* commbinations/combination ================================= */

.recommend-combination-status {
  margin-top: 3rem;
}
.recommend-combination-block {
  padding: 36px;
  overflow: hidden;
  background-color: rgba(211, 211, 211, 0.2);
  margin-top: 54px;
  margin-bottom: 54px;
  .recommend-combination-header img {
    width: 96px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .recommend-combination-header {
    text-align: center;
  }
}

.recommend-combination-body {
  clear: both;
  text-align: center;
  padding-top: 24px;
  .recommend-combination-heading {
    p {
      font-weight: bold;
      font-size: larger;
    }
  }
}

.search-links a {
  color: white;
}

.search-link-item {
  margin-top: 3rem;
  text-align: center;
}

.search-link-item a {
  width: 300px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: whitesmoke;
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 1rem;
}

/* comment ================================= */
.comment-block-container {
  margin-bottom: 54px;
}

.comments-block-list ul {
  list-style: none;
}

.comment-block-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.comment-block-header {
  float: left;
  margin-right: 30px;
}

/* show ================================= */
.icon-block {
  background-color: rgba(211, 211, 211, 0.2);
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 5%;
}
