// Place all the styles related to the flavors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flavor_background img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  filter: blur(5px);
}

.flavor-text {
  font-weight: 300;
}

.flavor-block {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flavor-count {
  text-align: right;
}

.flavor-name {
  font-weight: 300;
}
