.home-background {
  background-image: url("hookah.png");
  height: 600px;
}

.title-text {
  color: whitesmoke;
  font-weight: 400;
  background-color: opacify($color: #000000, $amount: 0);
  width: 20rem;
}

.black-color {
  background-color: black;
}

.title-logo img {
  height: 180px;
  width: auto;
}

.home-link {
  text-decoration: none;
}

.home-link:hover {
  color: rgb(108, 63, 185);
  background-color: transparent;
}

/* counter ================================= */
.counter-block {
  margin-bottom: 12px;
}

.counter-block-content {
  color: white;
}

/* bookmark ================================= */
.bookmark-container {
  .avatar-image img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 60px;
  }
  .name {
    text-align: center;
    margin-top: 30px;
  }
  .btn {
    display: block;
    margin: auto;
    color: white;
    margin-top: 30px;
    width: 60px;
  }
}
/* inquiry ================================= */
