.home-background {
  background-image: url("background.jpeg");
  height: 600px;
}

.navbar-brand img {
  height: 60px;
  width: auto;
}

.black-color {
  background-color: black;
}

.title-logo img {
  height: 180px;
  width: auto;
}
