.recommend-combination-block {
  padding: 36px;
  overflow: hidden;
  background-color: rgba(211, 211, 211, 0.2);
  margin-top: 54px;
  margin-bottom: 54px;
  .recommend-combination-header img {
    width: 96px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .recommend-combination-header {
    text-align: center;
  }
}

.recommend-combination-body {
  clear: both;
  text-align: center;
  padding-top: 24px;
  .recommend-combination-heading {
    .name {
      font-size: larger;
    }
  }
}

.search-links a {
  color: white;
}
