/* body ================================= */
body {
  margin: 0;
  padding: 0;
  direction: ltr;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  overflow-x: hidden;
  line-height: inherit;
  font-family: sans-serif, serif;

  -ms-word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* header ================================= */
.header-menu-section {
  .dropdown-menu {
    background-color: rgb(108, 63, 185);
  }
  .dropdown-item {
    color: white;
  }
}

.navbar-brand img {
  height: 60px;
  width: auto;
}

/* footer =================================  */
.footer-section {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer-section-top {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: block;
  position: relative;

  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .main-section {
    padding-top: 72px;
    padding-bottom: 18px;
  }
}

.widget_nav_menu_horizontal ul {
  width: auto;
  margin: 0 -6px;
  display: inline-block;
}
.widget_nav_menu_horizontal ul li {
  padding: 0;
  margin: 0 6px;
  display: inline-block;
  vertical-align: middle;
}
.widget_nav_menu_horizontal ul li a {
  line-height: 2;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
  /* 背景色などは割愛します */
}

/* block ================================= */
.main-section {
  z-index: 1;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 72px 0 36px;

  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.main-block .main-block-heading .meta-block {
  margin-top: 12px;
  .main-block-heading {
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto 24px;
  }
}

.main-block-content a {
  text-decoration-line: none;
}

.main-block-container {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.secondary-font-family {
  font-family: "Poppins", sans-serif, serif;
}

.section-title-heading a {
  text-decoration: none;
}

/* form ================================= */
.form-block,
.main-block-container {
  padding: 0;
  margin: 0 auto;
  border-width: 0;
  font-size: 19px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.form-block-sign {
  max-width: 444px;
}

.form-block-container {
  width: auto;
  display: block;
  margin: 0 -12px;
  position: relative;
}
.form-block-container::after {
  clear: both;
  content: "";
  display: table;
}
.form-block-container form {
  margin: 0 0 -24px;
}

form {
  display: flex;
  flex-wrap: wrap;
  .red-color {
    color: red;
  }
}

.form-block form > p,
.form-block form > div,
.form-block form > .label {
  padding-left: 12px;
  padding-right: 12px;
}

.label {
  margin-bottom: 1rem;
}

.form-block-start form {
  -webkit-flex-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.form-control {
  width: 100%;
  height: auto;
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 24px;
  padding: 8px 16px;
  line-height: 24px;
  border-width: 1px;
  position: relative;
  border-radius: 2px;
  border-style: solid;
  outline-offset: -2px;
  outline: none !important;
  background-clip: padding-box;
  margin-top: 1rem;

  -webkit-box-shadow: none;
  box-shadow: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form-control:focus {
  outline: none;

  -webkit-box-shadow: none;
  box-shadow: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-block-sign .form-block-sign-form {
  margin: 0;
  padding: 36px 24px 12px;
}

.form-block-sign .form-block-sign-footer a {
  color: inherit;
  margin: 6px 6px 0;
  display: inline-block;
  text-decoration: none;
}

/* button ================================= */
.btn-block {
  width: 100%;
}

/* list ================================= */
ul {
  list-style-type: none;
  padding-left: 0; /* 左にできる隙間を消す */
}
