<div class="search-link-block">
  <div class="section-title text-center">
    <!-- Section title container -->
    <div class="section-title-container">
      <!-- Section title body -->
      <div class="section-title-body">
        <!-- Section title heading -->
        <div class="section-title-heading">
          <h2>もう一度</h2>
        </div><!-- /End Section title heading -->
      </div><!--/End Section title body -->
    </div><!-- /End Section title container -->
  </div><!-- /End Section title -->
  <div class="search-link-field">
    <div class="search-link-item">
      <%= link_to "診断", searchs_path, class: "btn btn-danger mb-36" %>
      <%= link_to 'ガチャ', new_gacha_path, class: "btn btn-danger mb-36 text-white text-left" %>
    </div>
  </div>
</div>