<div class="offset-lg-2 col-lg-8 offset-lg-2">
	<!-- Testimonials block -->
	<div class="main-block recommend-combination-block">
		<!-- Block container -->
		<div class="main-block-container recommend-combination-container">

			<!-- Block header -->
			<div class="main-block-header recommend-combination-header">
				<%= image_tag "sorry.png" %>
			</div><!-- /End Block header -->

			<!-- Block body -->
			<div class="main-block-body recommend-combination-body">

				<!-- Block heading -->
				<div class="main-block-heading recommend-combination-heading">
					<h5 class="name">
						ごめんなさい、該当のフレーバーはありませんでした
					</h5>

				</div><!-- /End Block heading -->

			</div><!--/End Block body -->

		</div><!-- /End Block container -->
	</div><!-- /End Testimonials block -->
</div><!-- /End col-lg-4 -->