<!-- col-lg-12 -->
<div class="col-lg-6">
	<!-- Testimonials block -->
	<div class="main-block boxed-block-2y testimonials-block white-color-bg grey-2-color-border text-center">
		<!-- Block container -->
		<div class="main-block-container testimonials-block-container">

			<!-- Block body -->

				<div class="col-lg-12">

					<div class="main-block-header testimonials-block-header">
						<%= image_tag 'sample.jpeg' %>
					</div>


					<div class="main-block-body testimonials-block-body">
						<div class="row">
							<div class="col-lg-6">
								<div class="main-block-heading testimonials-block-heading">
									<h5 class="name">
										<%= compability.main_combination.keyword %>
									</h5>
									<h6 class="role font-weight-500 accent-color">Hoge Hoge</h6>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="main-block-heading testimonials-block-heading">
									<h5 class="name">
										<%= compability.sub_combination.keyword %>
									</h5>
									<h6 class="role font-weight-500 accent-color">Hoge Hoge</h6>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="main-block-content testimonials-block-content">
									<p><%= link_to 'show', compability_path(compability) %></p>
								</div>
							</div>
						</div>
					</div>
				</div>



		</div><!-- /End Block container -->
	</div><!-- /End Testimonials block -->
</div>