<div id="page-body" class="page-body">
	<!-- row -->
	<div class="row main-row justify-content-center">
		<!-- Content area
		==================================================== -->
		<div id="primary" class="content-area col-lg-12">
			<!-- Main -->
			<main id="main" class="content-area-container site-main">

				<!-- Section -->
				<div class="main-section">
						<!-- container -->
					<div class="container gx-4">
						<!-- row -->
						<div class="row gx-36">


							<!-- col-lg-8 -->
							<div class="col-lg-8 offset-lg-2">

								<!-- Section title -->
								<div class="section-title text-center">
									<!-- Section title container -->
									<div class="section-title-container">

										<!-- Section title body -->
										<div class="section-title-body">

											<!-- Section title heading -->
											<div class="section-title-heading">
												<h2>オーダーの組み合わせ</h2>
											</div><!-- /End Section title heading -->

										</div><!--/End Section title body -->

									</div><!-- /End Section title container -->
								</div><!-- /End Section title -->

								<!-- GAP -->
								<div class="gap gap-36"></div>

							</div><!-- /End col-lg-8 -->

							<% @compabilities.each do |compability| %>
								<%= render 'content', {compability: compability} %>
							<% end %>


						</div><!-- /End row -->
					</div><!-- /End container -->
				</div><!-- /End Section -->



			</main><!-- /End Main -->
		</div><!-- /End Content area -->
	</div><!-- /End row -->
</div><!-- /End Page body -->