<%= link_to flavor_gather_path(id: Gather.find_by(hint_id: hint.id, flavor_id: flavor.id).id, hint_id: hint.id, flavor_id: flavor.id), class:"float-left", method: :delete, remote: true do %>
	<span><i class="fas fa-check"></i></span>
<% end %>